@{
    ViewBag.Title = "Allocations";
    Layout = null;
}
<div class="page page-operatorreports">
    <div data-ng-controller="OperationalreportsCtrl">
        <div class="row ui-section">
            <div class="col-md-12">
                <article class="article">
                    <form name="formAllocations">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title"><i class="fa fa-filter" aria-hidden="true"></i> Filters</h3>
                            </div>

                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-md-3">
                                        <md-input-container class="md-block">
                                            <label>Company</label>
                                            <input type="text" ng-model="ReportFilterModel['Company']" disabled>
                                        </md-input-container>
                                    </div>
                                    <div class="col-md-3">
                                        <md-input-container class="md-block">
                                            <label>Station</label>
                                            <md-select ng-model="ReportFilterModel['LocationID']" aria-label="select"
                                                       name="LocationID" ng-change="GetActiveLots(ReportFilterModel.LocationID)" required>
                                                <md-option ng-repeat="location in ActiveLocationListModel" value="{{location.LocationID}}"> {{location.LocationName}} </md-option>
                                            </md-select>
                                        </md-input-container>
                                    </div>
                                    <div class="col-md-3">
                                        <md-input-container class="md-block">
                                            <label>Parking Lot</label>
                                            <md-select ng-model="ReportFilterModel['LocationParkingLotID']" aria-label="select" name="LotID" ng-change="GetSelectedLot(ReportFilterModel.LocationParkingLotID)">
                                                <md-option ng-repeat="lot in ActiveLotListModel" value="{{lot.LocationParkingLotID}}"> {{lot.LocationParkingLotName}} </md-option>
                                            </md-select>
                                        </md-input-container>
                                    </div>
                                    
                                    <div class="col-md-3">
                                        <md-button type="submit" class="md-button md-raised btn-w-md md-default custom-btn" style="min-width: 50px; margin:12px 0px;"
                                                   [disabled]="formAllocations.$valid" data-ng-click="formAllocations.$valid && GetAllocations()">Get</md-button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                    <md-card class="no-margin-h">

                        <md-toolbar class="md-table-toolbar md-default" ng-hide="options.rowSelection && selected.length">
                            <div class="md-toolbar-tools">
                                <span>Allocations</span>
                                <div flex></div>
                                <div class="search-box visible-md visible-lg">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="material-icons">search</i></span>
                                        <input type="text" class="form-control" ng-model="filterTable" placeholder="{{ 'SEARCH' | translate }}">
                                        <span class="input-bar"></span>
                                    </div>
                                </div>
                            </div>
                        </md-toolbar>

                        <div class="col-sm-12 selected-filters">
                            <div class="selected-filters-list">
                                Added Filters:
                                <span class="label label-default">{{SelectedItemModel.SelectedStation}}</span>
                                <span class="label label-default">{{SelectedItemModel.SelectedLot}}</span>
                            </div>
                        </div>

                        <md-table-container>
                            <table class="table-striped" md-table>
                                <thead ng-if="!options.decapitate" md-head md-order="query.order" md-on-reorder="logOrder">
                                    <tr md-row>
                                        <th md-column md-order-by="Station"><span>Station</span></th>
                                        <th md-column md-order-by="ParkingLot"><span>Parking Lot</span></th>
                                        <th md-column md-order-by="EmpId"><span>Emp Id</span></th>
                                        <th md-column md-order-by="EmpName"><span>Emp Name</span></th>
                                        <th md-column md-order-by="LoginTime"><span>Login Time</span></th>
                                        <th md-column md-order-by="Role"><span>Role</span></th>
                                        <th md-column md-order-by="ReportsTo"><span>Reports To</span></th>
                                    </tr>
                                </thead>
                                <tbody md-body>
                                    <tr md-row md-select="rbcidata" md-on-select="logItem" md-auto-select="options.autoSelect" ng-disabled="rbcidata.calories.value > 400"
                                        ng-if="AllocationsListModel.length>0"
                                        ng-repeat="rbcidata in AllocationsListModel | filter: filterTable | orderBy: query.order | limitTo: query.limit : (query.page -1) * query.limit">
                                        <td md-cell><span ng-class="{'allocationsfont-success': rbcidata.LoginTime!='', 'allocationsfont-danger': rbcidata.LoginTime==''}">{{rbcidata.Station}}</span></td>
                                        <td md-cell><span ng-class="{'allocationsfont-success': rbcidata.LoginTime!='', 'allocationsfont-danger': rbcidata.LoginTime==''}">{{rbcidata.ParkingLot}}</span></td>
                                        <td md-cell><span ng-class="{'allocationsfont-success': rbcidata.LoginTime!='', 'allocationsfont-danger': rbcidata.LoginTime==''}">{{rbcidata.EmpId}}</span></td>
                                        <td md-cell><span ng-class="{'allocationsfont-success': rbcidata.LoginTime!='', 'allocationsfont-danger': rbcidata.LoginTime==''}">{{rbcidata.EmpName}}</span></td>
                                        <td md-cell><span ng-class="{'allocationsfont-success': rbcidata.LoginTime!='', 'allocationsfont-danger': rbcidata.LoginTime==''}">{{rbcidata.LoginTime}}</span></td>
                                        <td md-cell><span ng-class="{'allocationsfont-success': rbcidata.LoginTime!='', 'allocationsfont-danger': rbcidata.LoginTime==''}">{{rbcidata.Role}}</span></td>
                                        <td md-cell><span ng-class="{'allocationsfont-success': rbcidata.LoginTime!='', 'allocationsfont-danger': rbcidata.LoginTime==''}">{{rbcidata.ReportsTo}}</span></td>
                                    </tr>
                                    <tr md-row ng-if="AllocationsListModel.length==0">
                                        <td md-cell colspan="7" style="text-align: center;">No Data Available</td>
                                    </tr>
                                </tbody>
                            </table>
                        </md-table-container>
                        <md-table-pagination ng-show="(AllocationsListModel|filter:filterTable).length>0" md-limit="query.limit"
                                             md-limit-options="limitOptions" md-page="query.page" md-total="{{(AllocationsListModel|filter:filterTable).length}}"
                                             md-page-select="options.pageSelect" md-boundary-links="options.boundaryLinks" md-on-paginate="logPagination">
                        </md-table-pagination>
                    </md-card>
                </article>
            </div>
        </div>
    </div>
</div>
@Html.Hidden("GetActiveLocationsList", Url.Action("GetActiveLocationsList", "Employee"))
@Html.Hidden("GetActiveLotssList", Url.Action("GetActiveLotssList", "Employee"))
@Html.Hidden("GetAllAllocations", Url.Action("GetAllAllocations", "OperationalReports"))
