@{
    ViewBag.Title = "DispositionReport";
    Layout = null;
}
<div class="page page-disposition-report">

    <div data-ng-controller="OperationalreportsCtrl">
        <div class="row ui-section">
            <div class="col-md-12">
                <article class="article">

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title"><i class="fa fa-filter" aria-hidden="true"></i> Filters</h3>
                        </div>
                        <div class="panel-body">

                            <div class="row">
                                <!--
                                <div class="col-md-3">
                                    <md-input-container class="md-block">
                                        <label>Company</label>
                                        <md-select ng-model="rbscompanyddl.rbscompanyname" aria-label="select">
                                            <md-option ng-repeat="rbscompany in rbscompanyddl.rbscompany" value="{{rbscompany.abbrev}}"> {{rbscompany.abbrev}} </md-option>
                                        </md-select>
                                    </md-input-container>
                                </div>
                                -->

                                <div class="col-md-3">
                                    <md-input-container class="md-block">
                                        <label>Company</label>
                                        <input type="text" value="HMRL" disabled>
                                    </md-input-container>
                                </div>

                                <div class="col-md-3">
                                    <md-input-container class="md-block">
                                        <label>Station</label>
                                        <md-select ng-model="rbslocationddl.rbslocationname" aria-label="select">
                                            <md-option ng-repeat="(index,rbslocation) in rbslocationddl.rbslocation" value="{{rbslocation.abbrev}}" ng-selected="index == 0"> {{rbslocation.abbrev}} </md-option>
                                        </md-select>
                                    </md-input-container>
                                </div>

                                <div class="col-md-3">
                                    <md-input-container class="md-block">
                                        <label>Parking Lot</label>
                                        <md-select ng-model="rbslotddl.rbslotname" aria-label="select">
                                            <md-option ng-repeat="(index,rbslot) in rbslotddl.rbslot" value="{{rbslot.abbrev}}" ng-selected="index == 0"> {{rbslot.abbrev}} </md-option>
                                        </md-select>
                                    </md-input-container>
                                </div>

                                <div class="col-md-3">
                                    <md-input-container class="md-block">
                                        <label>Disposition</label>
                                        <md-select ng-model="dispositionddl.dispositionname" aria-label="select">
                                            <md-option ng-repeat="(index,disposition) in dispositionddl.disposition" value="{{disposition.abbrev}}" ng-selected="index == 1"> {{disposition.abbrev}} </md-option>
                                        </md-select>
                                    </md-input-container>
                                </div>

                                <div class="col-md-3">
                                    <md-input-container class="md-block">
                                        <label>Duration</label>
                                        <md-select ng-model="rbsdurationddl.rbsdurationname" aria-label="select">
                                            <md-option ng-repeat="rbsduration in rbsdurationddl.rbsduration" value="{{rbsduration.abbrev}}"> {{rbsduration.abbrev}} </md-option>
                                        </md-select>
                                    </md-input-container>
                                </div>

                                <div class="col-md-3">
                                    <md-input-container class="md-block">
                                        <label style="visibility: hidden;">From Date</label>
                                        <md-datepicker ng-model="user.submissionDate" md-placeholder="From Date"></md-datepicker>
                                    </md-input-container>
                                </div>

                                <div class="col-md-3">
                                    <md-input-container class="md-block">
                                        <label style="visibility: hidden;">To Date</label>
                                        <md-datepicker ng-model="user.submissionDate2" md-placeholder="To Date"
                                                       md-max-date="TomaxDate"></md-datepicker>
                                    </md-input-container>
                                </div>

                            </div>

                        </div>
                    </div>

                    <md-card class="no-margin-h">

                        <md-toolbar class="md-table-toolbar md-default" ng-hide="options.rowSelection && selected.length">
                            <div class="md-toolbar-tools">
                                <span>Disposition Report</span>
                                <div flex></div>
                                <div class="icons-set">
                                    <span><img src="assets/images/pdf.png"></span>
                                    <span><img src="assets/images/xl.png"></span>
                                    <span><img src="assets/images/print.png"></span>
                                </div>
                            </div>
                        </md-toolbar>

                        <md-table-container>
                            <table class="table-striped" md-table>
                                <thead ng-if="!options.decapitate" md-head md-order="query.order" md-on-reorder="logOrder">
                                    <tr md-row>
                                        <th md-column md-order-by="odrstation"><span>Station</span></th>
                                        <th md-column md-order-by="odrparkinglot"><span>Parking Lot</span></th>
                                        <th md-column md-order-by="odrdis"><span>Disposition</span></th>
                                        <th md-column md-order-by="odrcount"><span>Count</span></th>
                                        <th md-column md-order-by="odrcash"><span>Cash</span></th>
                                        <th md-column md-order-by="odrepay"><span>EPay</span></th>
                                        <th style="text-align: right;" md-column md-order-by="odramount"><span>Amount</span></th>
                                    </tr>
                                </thead>
                                <tbody md-body>
                                    <tr md-row md-select="odrdata" md-on-select="logItem" md-auto-select="options.autoSelect" ng-disabled="odrdata.calories.value > 400" ng-repeat="odrdata in odrdatas.data | filter: filter.search | orderBy: query.order | limitTo: query.limit : (query.page -1) * query.limit">

                                        <td md-cell>{{odrdata.odrstation}}</td>
                                        <td md-cell>{{odrdata.odrparkinglot}}</td>
                                        <td md-cell>{{odrdata.odrdis}}</td>
                                        <td md-cell>{{odrdata.odrcount}}</td>
                                        <td md-cell>{{odrdata.odrcash}}</td>
                                        <td md-cell>{{odrdata.odrepay}}</td>
                                        <td md-cell style="text-align: right;">{{odrdata.odramount}}</td>
                                    </tr>
                                    <tr md-row class="total-row">
                                        <td md-cell colspan="6">Grand Total:</td>
                                        <td md-cell>14,000.00</td>
                                    </tr>
                                </tbody>
                            </table>
                        </md-table-container>

                        <md-table-pagination md-limit="query.limit" md-limit-options="limitOptions" md-page="query.page" md-total="{{odrdatas.count}}" md-page-select="options.pageSelect" md-boundary-links="options.boundaryLinks" md-on-paginate="logPagination"></md-table-pagination>
                    </md-card>

                </article>
            </div>
        </div>

    </div>

</div>