@{
    ViewBag.Title = "OfferSpaces";
    Layout = null;
}
<div class="page page-offered-spaces">
    <div data-ng-controller="OfferedspacesCtrl">
        <div class="row ui-section">
            <div class="col-md-12">
                <article class="article">
                    <md-card class="no-margin-h">
                        <md-toolbar class="md-table-toolbar md-default" ng-hide="options.rowSelection && selected.length">
                            <div class="md-toolbar-tools">
                                <span>Offered Spaces</span>
                            </div>
                        </md-toolbar>

                        <md-table-container>
                            <table class="table-striped" md-table>
                                <thead ng-if="!options.decapitate" md-head md-order="query.order" md-on-reorder="logOrder">
                                    <tr md-row>
                                        <th md-column md-order-by="CreatedOn"><span>Date</span></th>
                                        <th md-column md-order-by="Name"><span>Name</span></th>
                                        <th md-column md-order-by="PhoneNumber"><span>Phone</span></th>
                                        <th md-column md-order-by="Email"><span>Email</span></th>
                                        <th md-column md-order-by="OtherDetails" style="max-width:280px;"><span>Message</span></th>
                                    </tr>
                                </thead>
                                <tbody md-body>
                                    <tr md-row md-select="sodata" md-on-select="logItem" md-auto-select="options.autoSelect"
                                        ng-if="OfferSpaceListModel.length>0"
                                        ng-repeat="sodata in OfferSpaceListModel | orderBy: query.order | limitTo: query.limit : (query.page -1) * query.limit">
                                        <td md-cell>{{sodata.CreatedOn  | date:"dd-MM-yyyy"}}</td>
                                        <td md-cell>{{sodata.Name}}</td>
                                        <td md-cell>{{sodata.PhoneNumber}}</td>
                                        <td md-cell>{{sodata.Email}}</td>
                                        <td md-cell style="max-width:280px;">{{sodata.OtherDetails}}</td>
                                    </tr>
                                    <tr md-row ng-if="OfferSpaceListModel.length==0">
                                        <td md-cell colspan="5" style="text-align: center;">No Data Available</td>
                                    </tr>
                                </tbody>
                            </table>
                        </md-table-container>
                        <md-table-pagination ng-show="OfferSpaceListModel.length>0" md-limit="query.limit"
                                             md-limit-options="limitOptions" md-page="query.page" md-total="{{OfferSpaceListModel.length}}"
                                             md-page-select="options.pageSelect" md-boundary-links="options.boundaryLinks" md-on-paginate="logPagination">
                        </md-table-pagination>
                    </md-card>
                </article>
            </div>
        </div>
    </div>
</div>
@Html.Hidden("GetOfferedSpaceDetails", Url.Action("GetOfferedSpaceDetails", "OfferSpace"))