@{
    ViewBag.Title = "Index";
    Layout = null;
}
<div class="page page-vehicle-types">

    <div data-ng-controller="VehiclesCtrl">
        <div class="row ui-section">
            <div class="col-md-12">
                <article class="article">
                    <md-card class="no-margin-h">
                        <md-toolbar class="md-table-toolbar md-default" ng-hide="options.rowSelection && selected.length">
                            <div class="md-toolbar-tools">
                                <span>Vehicle Types</span>
                                <div flex></div>
                                <div class="search-box visible-md visible-lg">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="material-icons">search</i></span>
                                        <input type="text" class="form-control" ng-model="filterTable" placeholder="{{ 'SEARCH' | translate }}">
                                        <span class="input-bar"></span>
                                    </div>
                                </div>
                                <a href="#!/create-vehicles" class="md-button md-raised btn-w-md" style="display: flex;">
                                    <i class="material-icons">add</i> Create New Vehicle Type
                                </a>
                            </div>
                        </md-toolbar>

                        <md-table-container>
                            <table md-table>
                                <thead ng-if="!options.decapitate" md-head md-order="query.order" md-on-reorder="logOrder">
                                    <tr md-row>
                                        <th md-column><span>Actions</span></th>
                                        <th md-column md-order-by="VehicleTypeCode"><span>Vehicle Type Code</span></th>
                                        <th md-column md-order-by="VehicleTypeName"><span>Vehicle Type Name</span></th>
                                        @*<th style="min-width: 170px;" md-column md-order-by="VehicleTypeDesc"><span>Description</span></th>*@
                                        <th md-column md-order-by="WheelCount"><span>Wheel Count</span></th>
                                        <th md-column md-order-by="AxleCount"><span>Axle Count</span></th>
                                        <th md-column md-order-by="IsActive"><span>Status</span></th>
                                    </tr>
                                </thead>
                                <tbody md-body>
                                    <tr md-row md-select="vehicletype" md-on-select="logItem" md-auto-select="options.autoSelect" ng-disabled="vehicletype.calories.value > 400"
                                        ng-repeat="vehicletype in VehicleTypesListModel | filter: filterTable | orderBy: query.order | limitTo: query.limit : (query.page -1) * query.limit">
                                        <td md-cell class="actions">
                                            <a title="EDIT Vehicle" id="ViewVehicle" href="#!/edit-vehicles/{{vehicletype.VehicleTypeID}}">
                                                <md-icon>edit</md-icon>
                                            </a>
                                        </td>
                                        <td md-cell>{{vehicletype.VehicleTypeCode}}</td>
                                        <td md-cell>{{vehicletype.VehicleTypeName}}</td>
                                        @*<td md-cell>{{vehicletype.VehicleTypeDesc}}</td>*@
                                        <td md-cell>{{vehicletype.WheelCount}}</td>
                                        <td md-cell>{{vehicletype.AxleCount}}</td>
                                        <td md-cell><span class="label" ng-class="{'label-default': vehicletype.IsActive=='Inactive' , 'label-success': vehicletype.IsActive=='Active'}">{{vehicletype.IsActive}}</span></td>

                                    </tr>
                                </tbody>
                            </table>
                        </md-table-container>
                        <md-table-pagination ng-show="(VehicleTypesListModel|filter:filterTable).length>0" md-limit="query.limit" md-limit-options="limitOptions" md-page="query.page" md-total="{{(VehicleTypesListModel|filter:filterTable).length}}" md-page-select="options.pageSelect" md-boundary-links="options.boundaryLinks" md-on-paginate="logPagination"></md-table-pagination>
                    </md-card>
                </article>
            </div>
        </div>

    </div>

</div>
@Html.Hidden("GetVehicleTypeList", Url.Action("GetVehicleTypeList", "VehicleType"))