
// Old browsers
.lt-ie9-bg {
    z-index: 11111;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #333;
    color: #999;
    padding: 100px 20px;
    text-align: center;
    font-size: 26px;

    a {
        color: #f5f5f5;
        border-bottom: 2px solid #fff;
        &:hover {
            text-decoration: none;
        }
    }
}


// 
.non-display {
    display: none;
}

.page {
    padding: 15px 30px;

    > .ui-section:last-child {
        margin-bottom: 0;
    }
}

.page-form-ele {
    h3 {
        margin: 0;
    }
}

//search-box material
.search-box {
    // max-height: $header_height;
    max-width: 180px;
    padding: 13px 0;

    i {
        font-size: 18px;
        line-height: $line-height-computed;
    }

    .input-group-addon {
        padding: 8px 0 4px 12px;
        border: none;
        background-color: transparent;
    }
    .form-control {
        border: none;
        background: transparent;
    }

    .input-bar { 
        position: absolute; 
        display: block; 
        width: 90%;
        bottom: 0;
        left: 5%;
    }
    .input-bar:before,
    .input-bar:after {
        position: absolute;
        content: '';
        height: 1px; 
        width: 0;
        bottom: 1px; 
        // background: $text-color; 
        transition: all .35s $material_animation;
    }
    .input-bar:before {
        left: 50%;
    }
    .input-bar:after {
        right: 50%; 
    }  
    input {
        &:focus ~ .input-bar:before,
        &:focus ~ .input-bar:after {
            width: 50%;
        }                    
    }          
}

.search-box {
    .input-bar:before,
    .input-bar:after {
        background: $text-color;
    }
}

.actions{
    md-icon{
        margin-right: 6px;
        cursor: pointer;
    }
}
.parking-bg {
    background-image: url(../assets/images/parking-bg.png);
}
md-input-container {margin: 18px 0px 4px 0px;}
.btns-row{ margin: 30px 0px 20px 0px; text-align: center;}
.signature img{ margin: 0px 0px 8px 0px; max-width: 280px; max-height: 60px;}
md-toolbar.md-table-toolbar .md-toolbar-tools {padding: 0px 24px 0px 16px;}
.logosize img{ margin: 8px 0px 20px 0px; max-width: 280px; max-height: 190px;}
md-input-container .md-errors-spacer {min-height: auto;}
md-checkbox.md-default-theme.md-checked .md-icon, md-checkbox.md-checked .md-icon, md-radio-button.md-default-theme .md-on, md-radio-button .md-on {
    background-color:#2f2f2f;
}
md-radio-button.md-default-theme.md-checked .md-off, md-radio-button.md-checked .md-off {
    border-color: #2f2f2f;
}
md-input-container.md-default-theme:not(.md-input-invalid).md-input-focused .md-input, md-input-container:not(.md-input-invalid).md-input-focused .md-input, md-input-container.md-default-theme:not(.md-input-invalid).md-input-resized .md-input, md-input-container:not(.md-input-invalid).md-input-resized .md-input{
    border-color: #ffb800;
}
md-input-container.md-default-theme:not(.md-input-invalid).md-input-focused label, md-input-container:not(.md-input-invalid).md-input-focused label, md-input-container.md-default-theme:not(.md-input-invalid).md-input-focused md-icon, md-input-container:not(.md-input-invalid).md-input-focused md-icon, 
md-select-menu.md-default-theme md-content md-option[selected], md-select-menu md-content md-option[selected]
{
    color: #2f2f2f;
}
md-select.md-default-theme:not([disabled]):focus .md-select-value, md-select:not([disabled]):focus .md-select-value
{
    border-bottom-color: #ffb800;
}
md-input-container.md-input-focused:not(.md-input-has-value) md-select.md-default-theme .md-select-value, md-input-container.md-input-focused:not(.md-input-has-value) md-select .md-select-value, md-input-container.md-input-focused:not(.md-input-has-value) md-select.md-default-theme .md-select-value.md-select-placeholder, md-input-container.md-input-focused:not(.md-input-has-value) md-select .md-select-value.md-select-placeholder,
md-select-menu.md-default-theme md-content md-option:not([disabled]):focus, md-select-menu md-content md-option:not([disabled]):focus, md-select-menu.md-default-theme md-content md-option:not([disabled]):hover, md-select-menu md-content md-option:not([disabled]):hover
{
    color: #2f2f2f;
}
@media(min-width:767px){
    .form-horizontal .form-group label{text-align:right; padding-right: 0px;}
}
.form-horizontal .form-group {
    margin-bottom: 4px;
}